/2015-januar/nbproject/private/
/Klijet/nbproject/private/
/2015-januar/Klijent/nbproject/private/
/2015-januar/Server/nbproject/private/
/2015-januar/Komunikacija/nbproject/private/
/2015-januar/Komunikacija/build/
/2015-januar/Komunikacija/dist/
